

table {
  width: max-content;
}

input {
  width: 100px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;    
  }
  h2{
    margin-bottom: 0;
  }
  p{
    margin: 3px;
  }
  ul{
    width: max-content;
    margin-top: 3px;
  }

  .res {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 0 0;
    width: 50%;
  }

  .task1{
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .task2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form1{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: 30px 0 0 0 ;
  }